#map_canvas {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    top:0;
}

.center_image {
    text-align: center;
    margin: 0 auto;
}

.magic_title {
   white-space: normal;
   padding-top: 4px;
}

/* Stack all blocks to start */
.magic_list .ui-block-a,
.magic_list .ui-block-b {
	width: 100%;
	float: none;
}

.magic_list .ui-li-desc {
    white-space: normal;
    padding-left: 4px ;
}

.magic_list a.ui-grid-a {
    padding-right: 15px !important;
}

.date, .from, .views {
    font-size: 80%;
}

.from {
    color: #0077aa;
    font-weight: 400;
}

.date, .views {
    color: darkgray;
}

 /*1st breakpoint - Float B and C, leave A full width on top */
@media all and (min-width: 240px){
    .magic_list .ui-block-a,
	.magic_list .ui-block-b {
		float:left;
		width: 100% !important;
	}
    .magic_list .ui-block-b p {
		font-size: .8em !important;
	}
}

/* 2nd breakpoint - Float all, 25/75 */
@media all and (min-width: 320px){
	.magic_list .ui-block-a {
        float: left;
        width: 33.267% !important;
	}
	.magic_list .ui-block-b {
		float: left;
		width: 65.530% !important;
	}
}

/* 3rd breakpoint - Bump up font size at very wide screens */
@media all and (min-width: 480px){
	.magic_list {
	    font-size:125%;
	 }
    .magic_list .ui-block-a {
        float: left;
        width: 33.267% !important;
   	}
   	.magic_list .ui-block-b {
   		float: left;
   		width: 65.530% !important;
   	}
}